// Path to Bulma's sass folder
$primary: #365b43;

@use "bulma/sass" with (
    $family-primary: '"Figtree Variable", sans-serif',
    $primary: $primary
);

.box.is-bordered {
    border: 1px solid var(--bulma-primary);
}