---
import Calendar from "../components/Calendar.astro";
import WhoWeAre from "../components/WhoWeAre.astro";
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Box from "../components/Box.astro";
---

<MainLayout>
	<header class="section pb-5" role="banner">
		<Box><Hero /></Box>
	</header>
	<section class="section pt-0">
		<Box title="Upcoming Events">
			<Calendar />
		</Box>
		<Box title="How and Why We Daven">
			<WhoWeAre />
		</Box>
	</section>
</MainLayout>
