---
import type { Ics } from "../schemas/config";

interface Props {
    event: {
        id: string;
        data: Ics;
    }
}

const { event } = Astro.props;

const tz = 'America/New_York'

const dateOptions = {
    year: "numeric", 
    month: "long", 
    day: "numeric", 
    timeZone: tz
} as const;

const timeOptions = {
    hour: 'numeric', 
    minute: '2-digit', 
    timeZone: tz
} as const;

const eventDetails = {
    date: event.data.start.toLocaleDateString("en-US", dateOptions),
    time: event.data.start.toLocaleTimeString("en-US", timeOptions),
    summary: event.data.summary,
    location: event.data.location,
    description: event.data.description
}
---

<div class="cell box" id=`event-${event.id}`>
    <div class="block">
    <p class="subtitle is-5">{ eventDetails.date }</p>
    <p class="title is-5 has-text-primary">{ eventDetails.summary }</p>
    <p>{ eventDetails.location }</p>
    <p>{ eventDetails.time }</p>
    </div>
    { eventDetails.description ?
        <a class="button is-fullwidth is-primary is-outlined has-background-light" href={ eventDetails.description }>RSVP</a> :
        <button class="button is-fullwidth is-primary is-outlined has-background-light" disabled>RSVP Not Available</button>
    }
</div>

<style>
    .title {
        /* font-weight: 400; */
    }
    .box:last-child { 
        margin-bottom: 1.5rem;
    }
</style>