---
import { marked } from "marked";
import { siteConfig } from "../schemas/config";
const { whoWeAre } = siteConfig;

const parsed = marked.parse(whoWeAre);
---

<div class="block">
    <article class="mt-5 is-size-5-tablet" set:html={parsed} />
</div>
